_auth = cmVhZG9ubHl1c2VyOkFQZ0wyeW90QnF6UWc5NDNKUVN3dFF0YlBUR1UyY011VXJaQmRwZ1pNUEVLWWRUU2lHa3FXZ0FLTlpWb1hKejE2SEFUNnV3QzFvQW1BQjVCeDJHR3Rka3JmU2RzRWRrREtXQkU0MjU=
always-auth = true
email = ReadOnlyUser@fashionid.de
registry=https://fidrepository.artifactoryonline.com/fidrepository/api/npm/npm-fid